{% if page.links %}
    <div class="links">
        <h4>Hier moet je (ook) zijn:</h4>
        {% if page.links.size == 1 %} 
            {% assign link = page.links.first %}
            <p> 
                {% if link.label %}
                    {{ link.label }}: 
                {% endif %}
                <a target="_blank" href="{{ link.url }}">{{ link.url }}</a>
            </p> 
        {% else %}
            <ul>
            {% for link in page.links %}
                <li>
                    {% if link.label != "" %}
                        {{ link.label }}: 
                    {% endif %}
                    <a target="_blank" href="{{ link.url }}">{{ link.url }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}