{% if page.links %}
    <div class="links">
        <h3>Klik hier verder:</h3>
        {% if page.links.size == 1 %} 
            {% assign link = page.links.first %}
            <p> 
                {{ link|slice: 0 }}
                {% if link.label %}
                    {{ link.label }}: 
                {% endif %}

                <a target="_blank" href="{{ link.url }}">{{ link.url }}</a>
            </p> 
        {% else %}
            <ul>
            {% for link in page.links %}
                <li>
                    {% if link.label != "" %}
                        {{ link.label }}: 
                    {% endif %}
                    <a target="_blank" href="{{ link.url }}">{{ link.url }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}