.enlighter-default,
body {
    font-size: 1.6rem!important;
}

a {
    color: #930201;
}

a:hover {
    color: #FF3521!important;
}

a[target="_blank"]:after {
    font-family: 'FontAwesome';
    content: " \f08e";
}

p, blockquote, ul, .enlighter-default {
    margin: 0 0 1.5rem;
}

h1, h2, h3, h4 {
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

h2, h3 {
    border-left: 3px solid #FF3521;
    padding-left: 10px;
}
 
h1 {
    color: #FF3521;
}

img {
    max-width: 100%;
    display: inherit;
    margin-bottom: 1.5rem;   
}

blockquote img,
li img {
    margin-top: 1.5rem;
}

blockquote {
    max-width: 80%;
    padding: 1em;
    margin-left: 2rem;
    font-size: 2.5rem!important; 
    border-left: #FF3521 2px solid!important;
    display: block;
}
 
.gray-code {
    background-color: #eee;
    padding: 1.5rem;
    font: 15px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
    margin-bottom: 3rem;
}
 
.highlight {
    border: 2px solid #FF3521;
    background-color: #FFF5F4;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.links {
    border: 2px solid #c0c0c0;
    background-color:rgba(0,0,0, .05);
    padding: 1.5rem;
    margin-bottom: 3rem;
}


.highlight label {
    color: #FF3521;
    font-weight: bold;
    display: block;
    margin-bottom: 1.5rem;
    font-size: 24px;
}

.highlight h3 {
    color: #FF3521;
    border-left: none;
    padding-left: 0;
}

.highlight h2,
.links h2,
.highlight h3,
.links h3 {
    margin-top: 0;
}
 
.highlight ul,
.links ul,
.highlight p:last-child, 
.links p:last-child {
    margin-bottom: 0;
}

.links h2,
.links h3 {
    border-left: none;
    padding-left: 0;
} 

.links h2:before,
.links h3:before {
    font-family: 'FontAwesome';
    content: "\f25a";
    margin-right: 10px;
    color: #FF3521;
} 

.content-right {
    max-width: 1000px;
}

.content-right {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.content-right > *:first-child {
    margin-bottom: 3rem;
}

.sidenav {
    padding-right: 30px;
    padding-left: 15px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}


.logo {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.logo img {
    width: 50%;
} 

.shadow {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 1rem;
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
}

.center {
    margin: auto;
}

.nav>li a {
    color: #000;
}

.nav>li.active>a, .nav>li.active>a:focus, .nav>li.active>a:hover {
    background-color: #E0E0E0;
    border-left: #FF3521 2px solid;
    color: #000!important;
    font-weight: bold;
} 

ul.nav ul,
ul.nav ul ul,
ul.nav ul ul ul {
    margin-left: 15px!important;
    border-left: #E0E0E0 1px solid!important;
}

.nav>li.published-no,
.published-no {
    display: none;
}

div.enlighter>div {
    color: #000!important;
}

.enlighter-x12 {
    text-decoration: none!important;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height: auto;} 
}


.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }